/* #box{
    border: 5px solid red;
    width: 250px;
    height: 250px;
    position: relative;
     top: 50px;
    left: 150px;
    right: 50px;
    bottom: 100px;
    top: 100px;
    left: 80px;
} */
 
#navbar{
    border: 1px solid red;
    width: 100%;
    height: 80px;
    background-color: pink;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#abc{
    width: 250px;
    height: 350px;
    background-color: red;
    position: fixed;
    z-index: 1;
    /* top: 0px; */
    bottom: 0px;
    /* left: 180px; */
    right: 0px;
}
#alpha{
    width: 80%;
    height: 250px;
    background-color: blue;
    position: static;
    top: 50px;
}

#conatiner{
    border: 3px solid black;
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    background-color: aqua;
}

#box{
    width: 250px;
    height: 250px;
    border: 3px solid red;
    position: absolute;
    /* top: 50px; */
    /* left: 50px; */
    /* bottom: 100px; */
    right: 40px;
    top: 100px;
}
