#todoList{
    width: 400px;
    height: 600px;
    border: 1px solid red;
    margin: auto;
}

table{
    border: 1px solid red;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

th,td{
    border: 1px solid red;
    padding: 5px;
}
